fastapi==0.95.2
uvicorn[standard]==0.22.0
transformers==4.35.2
sentencepiece
torch==2.0.1
pydantic==1.10.9
datasets
evaluate
rouge_score
nltk
sacrebleu
pyarrow
pandas
accelerate
scipy
scikit-learn
tensorboard
jax
flax
numpy<2
